.container{
    width: auto;
    height: 91.5%;
    margin: 2%;
    padding: 2%;
    overflow-y: auto;
}

mat-form-field{
    width: 100%;
}

mat-selection-list{
    width: 100%;
}

.para{
    font-size: 10px !important;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top : 13px;
}

.item{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.item:hover{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

.item:focus{
    transition: ease-in-out, width .35s ease-in-out; 
}

.item h4{
    margin-left: 20px;
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    line-height : 20px;
}
.item p{
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
    line-height : 20px;
}
.item p.time{
    width: fit-content;
    margin-right: 0px;
    font-size: 9px;
    margin-left: auto;
}

mat-icon{
    width: 15px;
    float: right;
}

.material-icons{
    font-size: 15px;
}

h3{
    margin-top: 5px;
    margin-top: 5px;
    font-size: 25px;
}